/* Selector{

    Property: value;
    
} */

*  {
    text-align: right;
}
body{
background-image: url(hello.jpg);
background-size: cover;

}

h2+p:hover {
    color: #590707 ;

    text-align: center;
    border: 5px solid rgb(163, 61, 61, 0.5 ) ;
    cursor: pointer;
}

p{
    color: pink;
}
p{
    color: green ;
}

li{
    list-style: square;
    display: block; 
}

.webtext{
    border: 2px dashed orangered;
 
}

.active{
   color: purple;
}

#div1{
    background: rgb(255,255,0, 0.2);
}

#div2{

    background: rgb(255,0,0, 0.2);
}