/* Selector{

    Property: value;
    
} */
body{
background-image: url(hello.jpg);
background-size: cover;

}

h2 {
    color: #590707 ;

    text-align: center;
    border: 5px solid rgb(163, 61, 61, 0.5 ) ;
    cursor: pointer;
}

p{
    color: pink;
}
p{
    color: green ;
}

li{
    list-style: square;
    display: flex; 
}